/*Declaração de variável*/
:root{
	--vermelho: #E50914;
	--preto: #141414;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Elementos base*/
body{
	background: var(--preto);
	font-family: 'Arial', Times, serif;
	color: white;
}

header .container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header .logo{
	margin-left: 5px;
	color: var(--vermelho);
	font-family: 'Arial Black', Times;
	font-size: 40px;
}

header nav a{
	text-decoration: none;
	color: #AAA;
	margin-right: 10px;
}

/*Ao passar o mouse, o texto muda de cor*/
header nav a:hover{
	color: #fff;
}

header div h2:hover{
	color: #ff0011;
	transition: .3s;
}

/*Anime principal*/
.anime-principal{
	background: linear-gradient(rgba(0, 0, 0, .20), rgba(0, 0, 0, .20)100%), url('../img/dragon-ball-z.jpg');
	
	height: 500px;
	background-size: cover;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.anime-principal .descricao{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.anime-principal .titulo{
	margin-top: 15%;
	width: 400px;
}

.botao{
	background-color: rgba(0, 0, 0, .50); 
	color: white;

	border: none;
	padding: 15px 30px;
	margin-right: 10px;

	font-size: 12px;

	cursor: pointer;
	transition: .3s ease all;
}

.botao:hover{
	background-color: white;
	color: black;
}

.botao i{
	margin-right: 8px;
}

.container{
	margin: 15px;
	margin-right: 10px;
}

.filme-principal .container{
	width: 60%;
}


/*Outros animes*/
.box-anime{
	height: 100%;
	width: 100%;
	display: block;
}

.carousel-animes{
	margin-top: 5px;
}